.body2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.black-box {
    width: 400px;
    height: 400px;
    background-color: black;
    position: relative;
}

.yellow_left {
    width: 100px;
    height: 200px;
    position: absolute;
    bottom: 190px;
    right: 290px;
    background-color: yellow;
}

.white_left {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 80px;
    right: 290px;
    background-color: white;
}

.blue_left {
    width: 100px;
    height: 60px;
    position: absolute;
    bottom: 10px;
    right: 290px;
    background-color: darkblue;
}

.red_right {
    width: 270px;
    height: 310px;
    position: absolute;
    bottom: 80px;
    right: 10px;
    background-color: red;
}

.white_mid {
    width: 200px;
    height: 60px;
    position: absolute;
    bottom: 10px;
    right: 80px;
    background-color: white;
}

.white_mid_right {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
}